
<% if signed_in? %>

    <script type="text/javascript" src="/javascripts/gmap.js" ></script>
    <div class="content" >
        <h1 class="measurement">What's your radiation level?</h1>
        <%= render 'shared/measurement_form' %>
        <%= render 'shared/feed' %>
    </div>
    <div class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
    </div>

<% else %>

    <script type="text/javascript" src="/javascripts/googleMaps.js" ></script>
    <p style="text-align: center;">
        This is the home page for the
        <a href="http://radioactivemap.com/">Radioactive Map</a>
    </p>

    <div id="map_canvas" class="mapOnStartPage round" ></div>

    <p>

    </p>

<% end %>