<footer>
  <nav class="round">
    <ul style="padding-top: 8px;">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Privacy Policy / Terms", terms_path %></li>
    </ul>
  </nav>
</footer>